.chat-list-header {
  border-bottom: 0.0625rem solid #ddd;
}

.chat-toolbar {
  padding-right: 0.5rem !important;
}

.chat-avatar {
  min-width: 2.5rem;
  max-width: 2.5rem;
}

.chat-timestamp {
  font-size: 0.8rem;
  color: #6e6e6e;
  white-space: nowrap;
}

.chat-last-message {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}
