.chat-header {
  border-bottom: 1px solid #ddd;
}

.chat-chip-container {
  margin-left: 10px;
}

.chat-chip {
  margin-right: 5px;
}

.chat-new-title {
  width: 100%;
}

.new-chat-text-field {
  padding-left: 10px !important;
  padding-right: 3px !important;
}

.MuiInput-root::before {
  border-bottom: 0 !important;
}
