.message-container {
  display: flex;
  margin: 0.5rem 0;
}

.message-avatar {
  padding-right: 10px;
}

.message {
  padding: 0.5rem;
  max-width: 70%;
  border-radius: 0.5rem;
  word-wrap: break-word;
}

.message-timestamp {
  text-align: right;
  display: block;
  margin-top: 0.5rem;
}
